* {
  margin: 0;
  color: white;
}

body {
  background-color: #F87526;
  margin: 0;
}

/* NAVEGATION */
.Nav {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: #1d225f;
  position: relative;
  align-items: center;
}

.NavMenu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavLink {
  padding: 10px;
  list-style: none;
  font-size: 20px;
  padding-top: 25px;
}

.NavLink-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.Navegation {
  display: flex;
  align-items: center;
}

.NavLink a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.NavLink a:hover {
  color: #df4240;
}

.color-icon {
  color: rgb(255, 255, 255);
}

.container-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

@media (min-width: 800px) {
  .container-icon {
    display: none;
  }

  .Container-mobil-menu {
    display: none;
  }

  .perfil {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .Navegation {
    display: none;
  }

}

.Container-mobil-menu {
  position: absolute;
  margin-left: 30%;
}

.List-movil {
  /* border: solid 1px white; */
  margin: 0;
}

.list {
  padding: 4%;
  list-style: none;
  border: solid 1px white;
  background-color: black;
  height: 55px;
  font-size: 30px;
  width: 300px;
}

.list a {
  text-decoration: none;
  color: azure;
}

.list:hover {

  background-color: #df4240;

}

.logo-icon {
  width: 30px;
}


/* MAIN PAGE */

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.photo-perfil {
  max-width: 630px;

  background-color: #F87526;
  display: flex;
  align-items: center;
  justify-content: center;
}


.perfil {
  width: 100%;
}

.main-info {
  height: 94vh;
  max-width: 630px;
  background-color: #F87526;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title-main {
  background-color: azure;
  height: 80vh;
}

.title-h1 {
  align-items: center;
}

.sub-title {
  font-size: 7.2em;
}

@media(max-width: 800px) {
  .sub-title {
    font-size: 4em;
  }

  .main-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  p {
    text-align: center;
  }
}

.color-dev {
  color: #df4240;
  font-weight: 700;
}

.social-medias {
  display: flex;
  padding-right: 45px;
}

li {
  list-style: none;
}

.media-i {
  text-decoration: none;
}

.icon-li {
  padding: 25px;
}

.icon-li:hover {
  background-color: #df4240;
}

.barra {
  color: white;
  height: 10px;
  width: 50px;
}

/* About-me */

.About-me-p {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 28px;
  font-size: 130%;
}

.About-me {
  width: 100%;
  box-sizing: content-box;
}

.title-About-me {
  text-align: center;
  margin-bottom: 80px;
}

.span-icon-about-me {
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* MyHabilities */
.MyHabilities-container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

.title-habilities-container {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 40px;
}

.my-portfolio {
  display: flex;
  flex-wrap: wrap;
}

.my-portafolio-card {
  width: 300px;
  height: 450px;
  background-color: #F87526;
}

td {
  font-size: 50px;
  margin: 0%;
}

.table-text-size {
  font-size: 15px;
}

.color-icon-table,
.fa-html5,
.fa-js,
.fa-python {
  color: #212529;
}

.Title-table {
  font-size: 30px;
}


.card-container-my-portfolio {
  position: relative;
  width: 450px;
  height: 650px;
  background-color: #FBDD46;
  padding: 20px;
  border-radius: 15px;
}

.size-font {
  font-size: 23px
}

.card-portfolio {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card-portfolio p {
  color: #212529;
}

.title-h1-portfolio {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
}

.portfolio-img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.title-of-card-portfolio {
  text-align: center;
  padding: 5px;
  color: #df4240;
}

.slides-portfolio {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slides-portfolio>img {
  scroll-snap-align: start;
}

.slides-portfolio img {
  width: 400px;
  object-fit: contain;
}

.slides-portfolio::-webkit-scrollbar {
  display: none;
}

.container-myportfolio-icon-link {
  position: absolute;
  bottom: 0px;
  right: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
}

.container-myportfolio-icon-link i {
  padding-right: 25px;
}

.container-myportfolio-icon-link p {
  text-align: center;
}

.box-portfolio-links a {
  display: flex;
  text-decoration: none;
}

.box-portfolio-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}

.box-portfolio-links:hover {
  background-color: #df4240;
  border-radius: 5px;
}

.fa-github-square,
.fa-link {
  padding-left: 25px;
}

.color-icon-portfolio-link {
  color: #212529;
}

.color-tecnology-used {
  color: #212529;
}

.contact-me-container {
  width: 200px;
  height: 260px;
  background-color: #4970BF;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-me-container-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contact-me-container-linkedin {
  width: 200px;
  height: 200px;
  background-color: #4970BF;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contactme-title {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.write-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.numbers-phone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.fa-phone {
  padding-left: 25px;
}

.contact-me-container-email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-me-container-email p {
  text-align: center;
}

.footer-container {
  width: 100%;
  height: 50px;
  background-color: #1d225f;
  display: flex;
  justify-content: center;
  align-items: center;
}